
import(RColorBrewer)
import(fmsb)
import(car)
import(matrixcalc)
import(rootSolve)
importFrom("numDeriv","grad")
importFrom("stats", "optim")
import(Matrix)
importFrom("stats", "dbinom", "formula", "model.frame", "model.matrix",
             "model.response", "pchisq", "pnorm", "printCoefmat", "pt",
             "rbeta", "rbinom", "runif", "uniroot")

export(rBB,dBB,rBI,dBI,
SF36rec,HRQoLplot,
BIest,print.BBest,
BBest,print.BBest,summary.BBest,print.summary.BBest,
BBreg,print.BBreg,summary.BBreg,print.summary.BBreg,
BBmm,print.BBmm,summary.BBmm,print.summary.BBmm)


S3method(print, BIest)
S3method(print, BBest)
S3method(print, BBreg)
S3method(print, BBmm)

S3method(summary, BBest)
S3method(summary, BBreg)
S3method(summary, BBmm)

S3method(print, summary.BBest)
S3method(print, summary.BBreg)
S3method(print, summary.BBmm)
